<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111166749-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111166749-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="image_src" href="" /> 
    
    
    <meta property="og:title" content="크래프토리 런칭 사전 참여 페이지" /> 
    <meta property="og:type" content="website" /> 
    <meta property="og:image" content="" /> 
    <meta property="og:site_name" content="크래프토리" /> 
    <meta property="og:url" content="http://www.craftory.me/invitation" />
    <meta property="og:description" content="한국의 픽시브, 크래프토리와 함께 세상을 뒤업자!" />
    
    <meta name="twitter:card" content="한국의 픽시브, 크래프토리와 함께 세상을 뒤업자!" /> 
    <meta name="twitter:url" content="http://www.craftory.me/invitation" /> 
    <meta name="twitter:title" content="한국의 픽시브, 크래프토리와 함께 세상을 뒤업자!" /> 
    <meta name="twitter:description" content="크래프토리와 함께 누구나 작가가 되는 세상을 만들어봐요! 내 팬을 모아 작품 활동을 하고 수익도 얻는 세상을 변화시키는 서비스" />  
    <meta name="twitter:image" content="" /> 
    <!-- <meta name="twitter:site" content="@트위터아이디" />  트위터 카드에 사이트 배포자 트위터아이디 -->
    <!-- <meta name="twitter:creator" content="@트위터아이디" />  트위터 카드에 배포자 트위터아이디 -->
    
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <title>한국의 픽시브, 크래프토리와 함께 세상을 뒤업자!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- Optional theme -->
    
    <link rel="stylesheet" href="/css/invitation.css">
    
    <!-- Latest flipclock and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://jsgetip.appspot.com"></script>
    <script type="text/javascript" src="/js/invitation.js" ></script>

</head>

<body id="body" class="container">
<div  id="top_layout">

    <div id="sub_layout1" >
        <div id="sub_layout2" class="contents contents" >
           
            <p class="default_font">크리에이터의, 크리에이터에 의한, 크리에이터를 위한 단 하나의 창작공간.</p>
            <h4 class="default_font">2018년 10월, 세상을 바꿀 새로운 서비스 '크래프토리'가 온다! </h4>
            
            <h4 class="default_font">완전히 준비된 작가만이 데뷔하는 지금의 웹툰 시장!</h4>
            <h4 class="default_font">그럼 그 많은 지망생들은 어디서 경험을 쌓나요!!</h4>
            <h4 class="default_font">과정은 없고 결과만 요구하는 현실! 이젠 바뀌어야 합니다.</h4>
            
            <h4 class="default_font">한국의 픽시브 '크래프토리'와 함께 혁명에 동참해주세요!</h4>
            <h4 class="default_font">크리에이터 한분 한분의 소중한 참여로 미래를 바꿉시다.</h4>
            
            
            <div style="padding: 20px">
                <div style="padding: 10px">
                    <h4 class="default_font">  총 2,000명 모집 </h4>
                </div>
                
                <div class="col-lg-12 row">
                    <div class="col-lg-12">
                        <div class="default_font" style="float: left"><%= count %>명</div>
                        <!-- <div id="progress_text" class="default_font" style="float: left;padding-left: 0%" >현재 <span id="counter_1"> 0 </span>명 </div> -->
                        <div class="default_font" style="float: right">2,000명</div>
                    </div>
                    <div class="col-lg-12">
                        <div class="progress">

                            <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="150" style="width: 75%"></div>

                        </div>
                    </div>
                        
                </div>
                <!--
                <div style="padding: 10px">
                    <h1 class="default_font">마감되었습니다. 감사합니다.</h1>
                </div> -->
            </div>
            
            <div>
               
                <div class="col-lg-12">
                    
                    <div class="nickname_input" style="margin-top: 10px">
                        <input type="text" class="form-control" placeholder="닉네임를 입력하세요. 추천인 등록에 활용됩니다." style="height:50px" id="nickname" >
                    </div>

                    <div class="kakaoid_input" style="margin-top: 10px">
                        <input type="text" class="form-control" placeholder="카카오톡 아이디를 입력하세요" style="height:50px" id="id" >
                    </div>

                    <div class="email_input" style="margin-top: 10px">
                        <input type="text" class="form-control" placeholder="이메일을 입력하세요" style="height:50px" id="email" >
                    </div>
                    
                    <div class="input-group mb-3" style="margin-top: 10px">
                        <input type="text" class="form-control" placeholder="추천인을 검색하세요" style="height:50px" aria-label="Recipient's username" aria-describedby="basic-addon2" id="recommend">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="search" style="height:50px;width:100px">검색</button>
                        </div>
                    </div>

                    
                    <div class="form-group">
                        <select multiple class="form-control" id="exampleFormControlSelect2">
                            <option>검색 결과 없음</option>
                                
                        </select>
                    </div>

                </div>
                <div class="col-lg-12 button_layout" style="margin-top: 10px">
                    <button type="button" class="btn btn-info btn-lg col-lg-12" id="button" >신청</button>
                </div>
                
            </div>
            
        </div>
        
        <div style="margin-top:20px">
            
            <ul class="list-group">
                
                <% if (ranking.length == 0) { %>
                    <li class="list-group-item">추천유저 없음</li>
                <% } else { %>
                    
                    <% ranking.forEach(function(user){ %>
                        <li class="list-group-item"><%= user.get("nickname") %></li>
                    <% }); %>
                
                <% } %>
                
            </ul>
        
        </div>
        
    
        <div id="bottom_layout">

            <div id="bottom_sub_layout">

                <div>

                    <div id="box" >
                        <a href="http://www.studiobear.net/" target="_blank">
                            <img src="https://res.cloudinary.com/dqn5e8b6u/image/upload/c_scale,w_150/v1516748688/homepage_mhvdv1.png">
                        </a>

                    </div>

                    <div id="box">
                        <a href="https://twitter.com/Craftory1208" target="_blank">
                            <img src="https://res.cloudinary.com/dqn5e8b6u/image/upload/c_scale,w_150/v1516748688/twitter_button_v2rr6x.png">
                        </a>

                    </div>

                    <div id="box">
                        <a href="mailto:contact@studiobear.net">
                            <img src="https://res.cloudinary.com/dqn5e8b6u/image/upload/c_scale,w_150/v1516748688/email_button_ym0o79.png">
                        </a>

                    </div>
                </div>
            </div>

        </div>
        
    </div>
    
    

    

</div>


<div class="facebook_comment_layout" style="text-align: center;background: #ffffff">
            
    <div id="fb-root center">

        <div class="fb-comments" data-href="http://www.craftory.me/event/vipinvitation" data-width="100%" data-numposts="100"></div>

    </div>
    
</div>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '124760188015147',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.11'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    
</body>

</html>